
<div class="centered-content"> 
    <div class="task-manager-container">
        <div class="sidebar">
            <div class="title has-text-primary">
                Category
            </div>
            <div class="list-cat">
                <a class="list-cat-item">
                    <p>Categories should display here</p>
                </a>
                <a class="list-cat-item" *ngFor="let cat of items" >
                    <p>{{cat.name}}</p>
                </a>
            </div>
            <button class="button is-primary" routerLink="/new-cat">+ New Category</button>
        </div>
        <div class="task-list-container">
            <div class="title has-text-primary">
                Tasks
            </div>
            <app-list-tasks></app-list-tasks>
            <div class="task">
                <p>Tasks should be displayed here by category</p>
            </div>
        </div>
    </div>
</div>
